.backbody{
 background: linear-gradient(#728a9e, #00f1fec0 );
width: 100vw;
height: 100vh;
background-size: cover;
position: fixed;
left: 0;
top: 0;
}

.container{
display: flex;
background: white;
height: 550px;
width: 70%;
margin: 45px auto;
border-radius: 7px;

}

.welcome {
text-align: center;
color:   #121c38c0 ;
font-family: 'Times New Roman', Times, serif;
}

.login-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}


input {
display: flex;
margin: 20px;
width: 350px;
height: 20px;
padding: 8px;
border-radius: 7px;
border: solid 2px rgb(173, 191, 202);
}

input:focus {
  border: solid 2px rgb(55, 146, 221); 
  outline: none; 
}


button{
width: 370px;
margin: 8px 20px;
height: 35px;
border-radius: 5px;
background: rgb(10, 126, 204);
border: none;
font-size: large;

}


button:hover{
background: white;
border: solid 1px gray;
}

.forget a{
text-align: center;
text-decoration: none;
color: rgba(0, 0, 255, 0.664);
}


.google-login {
  width: 370px;
  margin: 8px 20px;
  height: 40px;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.233);
  border: none;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;

}
.google-icon{
  padding: 5px;

}



.image-section img{
  height: 550px;
width: 550px;
border-top-right-radius:7px ;
border-bottom-right-radius: 7px;
}






@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 90%;
  }
 
  .image-section {
    display: none;
  }

  .image-section2 {
    display: none;
  }
 
  .login-container {
    padding: 20px;
   display: flex;
   margin-right:  auto;

  }
 
  input, button, .google-login {
    width: 250px;
    

  }
 }
 
 .error-message {
  color: red;
  font-size: 14px;
}

 @media screen and (max-width: 480px) {
  .container {
    width: 80%;
  }
 
  input {
    width: 100%;
    width: 250px;
  }
  button{
    width: 87%;
  }

  .google-login{
    width: 90%;
  }
 }




















.signup-container{
background:  linear-gradient(#728a9e, #00f1fec0 ) ;
width: 100vw;
height: 100vh;
position: fixed;
left: 0;
top: 0;


}



.containers h2{
margin-left: 40%;
padding-top: 5px;
}

.containers{
  display: flex;
  background-color: white;
  width: 70%;
  height: 580px;
  margin: 10px auto;
  border-radius: 7px;

}

.ready {
margin-left:15%;

}

.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  width: 90%;
}

.or-divider::before,
.or-divider::after {
  content: '';
  flex-grow: 1;
  border-top: 1px solid #000; /* Adjust the color as needed */
}

.or-divider span {
  margin: 0 18px; 
}


.image-section2 img{
  height: 580px;
width: 550px;
border-top-right-radius:7px ;
border-bottom-right-radius: 7px;


}




